@media screen and (max-width: 1024px) {

    #name {
        position: relative;
        left: 100px;
    }
    
    .form-inline {
        position: relative;
        right: 90px;
    }
}

@media screen and (max-width: 768px) {
    #name {
        position: relative;
        left: 10px;
    }

    .form-inline {
        position: relative;
        right: 40px;
    }
    #main {
        position: relative;
        left: 4px;
    }
}

@media screen and (max-width: 415px) {

    #name {
        position: relative;
        left: 50px;
    }

    .form-inline {
        position: relative;
        left: 70px;
    }

    #main {
        height: 450px;
        position: relative;
        bottom: 30px;
        left: 1px;
    }

    #text {
        position: relative;
        bottom: 25px;
    }

    #foot {
        position: fixed;
        bottom: 0;
        padding-top: 20px;
    }
}

@media screen and (max-width: 376px) {

    .navbar {
        position: relative;
        left: 2px;
    }

    #name {
        position: relative;
        left: 45px;
    }

    .form-inline {
        position: relative;
        left: 65px;
    }

    #main {
        height: 500px;
        position: relative;
        bottom: 30px;
        left: 1px;
    }

    #foot {
        
    }
}

@media screen and (max-width: 360px) {

    #name {
        position: relative;
        left: 35px;
    }

    .form-inline {
        position: relative;
        left: 55px;
    }

    #main {
            height: 430px;
            position: relative;
            bottom:25px;
    }
}

@media screen and (max-width: 320px) {

    #name {
        position: relative;
        left: 10px;
    }

    .form-inline {
        position: relative;
        left: 35px;
    }

    #main {
        position: relative;
        bottom: 33px
    }
}